* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  position: relative;
  align-items: center;
  main{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 1200px;
  }
}