.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 1200px;
  background-color: #fff;
  padding: 40px;
  position: fixed;

  
  @media (max-width: $tablet-g) {
    max-width: $tablet-g;
    width: $tablet-g;
    position: static;
  }
  @media (max-width: $tablet) {
    max-width: $tablet;
    width: $tablet;
    position: static;
  }
  @media (max-width: $phone) {
    max-width: $phone;
    width: $phone;
    position: static;
  }
  .header-wrapper {
    max-width: 1200px;
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: $destkop) {
      max-width: $destkop;
      width: $destkop;
      h1{
        position: absolute;
        left: 40px;
      }
      label{
        .menu-img{
        right: 40px;
        position: absolute;
        }
      }
    }

    @media (max-width: $tablet-g) {
      max-width: $tablet-g;
      width: $tablet-g;
      h1{
        position: absolute;
        left: 20px;
      }
      label{
        .menu-img{
        right: 20px;
        position: absolute;
        }
      }
    }
    @media (max-width: $tablet) {
      max-width: $tablet;
      width: $tablet;
      h1{
        
        position: absolute;
        left: 20px;
      }
      label{
        .menu-img{
        right: 20px;
        position: absolute;
        }
      }
    }
    @media (max-width: $phone) {
      max-width: $phone;
      width: $phone;
      h1{
        left: 20px;
        position: absolute;
      }
      label{
        img{
        right: 20px;
        position: absolute;
        }
      }
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .navbar {
      position: absolute;
      right: -100%;
      top: 0;
    }
    .hamburger-list {
      padding: 3% 5% 0 62%;
      background-image: linear-gradient(
        to right,
        rgba($color: #000000, $alpha: 0.5) 0%,
        rgba($color: #000000, $alpha: 0.5) 50%,
        #eaf3fa 50%,
        #eaf3fa 100%
      );
      flex-direction: column;
      gap: 4vh;
      display: flex;
      height: 100vh;
      top: 0;
      right: 0 !important;
      width: 100%;
      position: fixed;
      align-items: start;
      transition: 1s ease;
      z-index: 100;
      .img {
        display: inline;
        padding: 15px;
        background-color: #fff;
        width: 66px;
        img {
          transform: scale(1);
        }
      }
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          color: #1d3d66;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 2vh;
        }
        list-style: none;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.visually {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.menu {
  &-img2 {
    //   margin-left: 1000px;
    //   &::after{
    //     content: "";
    //     background: url(../../img/Vector.svg);
    width: 3vw;
    height: 2.625vh;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    //     display: flex;
  }
  .menu-img {
    width: 30px;
    height: 24px;
  }
}